/* ChatGPT.css */
.fixed-chat-icon2 {
    position: fixed;
    bottom: 157px;
    right: 39px;
    z-index: 1000; /* Adjust the z-index as needed */
  }
  
  .chat-icon-btn2 {
    border-radius: 50%!important;
    width: 55px;
    height: 55px;
    font-size: 24px;
    cursor: pointer;
  }
  
  
  